<div class="bg">
<div>
 <h2 >   RIA Advisory Online Examination System </h2>
</div>

<nav>
<ul>
  <li><a routerLink="home" tabindex="1">Home</a></li>
  <li><a routerLink="signup" tabindex="1">Signup</a></li>
  <li><a routerLink="login" tabindex="1">Login</a></li>
  <li><a routerLink="exam" tabindex="1">Exam</a></li>
  <li><a routerLink="contact" tabindex="1">Contact</a></li>
<li><a  routerLink="about" tabindex="1">About</a></li>
</ul>
</nav>

<router-outlet></router-outlet>



<br/>


<br/>
<br/>
<br/>


</div>